<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Final for Mapping</title>
</head>
<body>

    <div>

        <br>
        <h2>It's almost the end, be happy :)</h2>
        <br>
        <br>
        <br>

        {{ simple_current_mapping }}

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        {{ sl }}

        <br>
        <br>

        {{ user_mapping }}

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        {{ final_mapping }}


    </div>

</body>
</html>